*.pyc
*.DS_Store
*poetry.lock
*.bash_history

infra/docker/ssh-stub/ssh/id*

docs/sphinx/resources
docs/sphinx/build

/src/src/**
!/src/src/**/
!/src/src/**/.gitkeep
src/common/config/config.ini
src/common/config/config.dev.ini
